img{
    width: 250px;
    border: 2px dotted #d8cefe;
}

.card{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    border-bottom: 6px solid#d8cefe;
    background: #ddebf8;
    padding: 20px;
    width: 600px;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
}


h1{
    text-align: center;
}

