img{
    width: 250px;
    border: 2px dotted rgba(0, 0, 0, 0.651);
}

.card{
    display: flex;
    border: 10px double rgba(0, 0, 0, 0.651);
    background: #2176ae;
    padding: 20px;
    width: 600px;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
}

.items{

}